<p id="notice"><%= notice %></p>

<h1>Listing Metrics</h1>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @metrics.each do |metric| %>
      <tr>
        <td><%= link_to metric.name, metric_path(metric.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>